.header {
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-content: flex-start;
}


#header_right {
    font-size: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extend {
   
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

}

.chainId {
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(243, 132, 30, 0.05);
    color: rgb(243, 132, 30);
    font-weight: 500;
    width: fit-content;
    border-radius: 12px;
    border: 1px solid rgb(237, 238, 242);
}




.walletAccount {
    text-align: center;
    outline: none;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;

    user-select: none;
    background-color: rgb(247, 248, 250);
    border: 1px solid rgb(237, 238, 242);
    color: rgb(0, 0, 0);
    font-weight: 500;
}